h1{
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    color: rgb(16, 15, 15);

}
body{
    background-color: rgb(233, 229, 229);
}
p{
    color: rgb(28, 26, 26);
    font-size: 20px;
}
.project-card {
  background: #fff;
  padding: 20px;
  margin: 100px auto 20px auto;
  max-width: 900px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
a{
  background-color: #333;
  padding: 20px;
  color: #f0f4f8;
  border-radius: 40px;
  margin-top: 300px;
  text-underline-position:none;
}