.certificate-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.certificate-card {
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 20px;
  max-width: 250px;
  text-align: center;
  transition: transform 0.3s;
}

.certificate-card:hover {
  transform: translateY(-5px);
}

.certificate-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 4px;
}

.certificate-card h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.certificate-card .buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 40px;
  
}

.certificate-card .btn {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 20px;
  text-align: center;
  flex: 1;
}
body{
    background-color: rgb(238, 241, 235);
    color: rgb(29, 25, 25);

}
h1{
    font-size: 50px;
    margin-top: 80px;
    text-align: center;
}
a{
  background-color: #333;
  padding: 20px;
  color: #f0f4f8;
  border-radius: 40px;
  margin-bottom: 20px;
  text-underline-position:none;
}