body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  margin: 20px;
  color: #333;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.project-card {
  background: #fff;
  padding: 20px;
  margin: 0 auto 20px auto;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.project-card h2 {
  margin-top: 0;
  color: #007acc;
}

.project-card a {
  display: inline-block;
  margin-top: 3px;
  color: white;
  background-color: #007acc;
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
}

.project-card a:hover {
  background-color: #005fa3;
}
a{
  background-color: #333;
  padding: 20px;
  color: #f0f4f8;
  border-radius: 40px;
  margin-bottom: 40px;
  text-underline-position:none;
}