h1 {
  text-align: center;
  margin-bottom: 40px;
}

.project-card {
  background: #fff;
  padding: 20px;
  margin: 0 auto 20px auto;
  max-width: 600px;
  height: 350px;
  font-size: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
a{
  background-color: #333;
  padding: 20px;
  color: #f0f4f8;
  border-radius: 40px;
  margin-bottom: 100px;
  text-underline-position:none;
}
body{
    background-color: #f0f4f8;
}